$primary-color: #cc0202;
$secondary-color: #037f96;
$dark-bg: #000;
$light-bg: #f3f3f2;

body{
    font-family: Helvetica Neue,Arial,sans-serif !important;
    font-weight: 100 !important;
    background: $light-bg !important;
}
#root, html, body, #app{
  overflow-x: hidden !important;
}

#app, html {
  position: relative;
  min-height: 100vh;
}
.footer {
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
label{
  font-weight: 300;
}
.header__logo {
  width: 12.75rem;
  margin: .9375rem auto 0;
}
.header__logo_fr {
  width: 10.75rem;
  margin: 0.7rem auto 0;
}
.text--uppercase {
  text-transform: uppercase;
}
.button--secondary {
  border-color: $secondary-color !important;
  color: $secondary-color !important;
}
.button--secondary:focus, .button--secondary:hover {
  background-color: $secondary-color !important;
  color: #fff !important;
}

.article-link .fake_link, .bundles__item .fake_link, .hero-banner-secondary .fake_link, .hero-banner-secondary__image-wrap .fake_link, .hero-banner__row .fake_link, .info-card .fake_link, .promo-block .fake_link, [tabindex], a, button, input, select, textarea {
  outline-color: $secondary-color !important;
}
.form-control:focus {
  border-color: $secondary-color !important;
  outline: 0;
  box-shadow: none !important;
}

.input_element{
  -webkit-appearance: none;
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  border: thin solid #ccc;
  line-height: 1.15;
  font-size: 1rem;
  border-radius: 1px !important;
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.styled-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: white;
  border: 1px solid $secondary-color;
}
.styled-checkbox:hover + label:before {
  background: #efefef;
}
.styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);
}
.styled-checkbox:checked + label:before {
  background: $secondary-color;
}
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 12px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
  color: #212529;
  background-color: #fff !important;
  border-color: #d3d9df;
}

.form-control:focus, .form-control:hover, .form-control:active {
  background: #fff !important;
  box-shadow: 0 0 0 0.2rem #fff;
  border-color: auto;
  outline: 0 !important;
  box-shadow: 0 0 0 0.2rem transparent;
  border: thin #037f96 solid !important;
  border-radius: 1px;
}

input:focus, textarea:focus, select:focus, .bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
  outline: none !important;
  border-radius: 1px;
}

.form-control:focus, .form-control:hover, .form-control:active {
  background: #fff !important;
}
.form-control {
  border: thin solid #ccc !important;
  border-radius: 1px;

}
.btn-light.focus, .btn-light:focus {
  box-shadow: none !important;
  border-radius: 1px;
}
.btn-light:hover, .btn-light {
  background-color: #fff;
}
.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: $primary-color;
}
.form-group{
  height: 45px;
}
.labelholder {
  position: relative;
  top: -8px;
  left: 15px;
  opacity: 0;
  transition: all .2s ease;
}
.apear-top {
  opacity: 9.9;
  top: -58px;
  left: -5px;
  font-size: 0.8rem;
  transition: all .2s ease;
}
.textarea-apear-top {
  opacity: 9.9;
  top: -110px;
  left: -5px;
  font-size: 0.8rem;
  transition: all .2s ease;
}
.mb-6{
  margin-bottom: 115px !important;
}
@media only screen and (max-width: 576px){
  .mainform{
    margin-top: 2px !important;
    margin-bottom: 82px !important;
  }
  .header__logo_fr {
    width: 7.75rem;
  }
  .header__logo {
    width: 8.75rem;
  }

}
